.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;

  border-radius: 3px;
  text-align: center;
  padding: 2.5rem;

  transition: transform 0.3s;
  box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.4);



  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &__text {
    font-size: 1.6rem;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
